/* ItemListContainer.css */

.item-list-container {
    display: block;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 10px 0;
  }
  
  /* Puedes agregar más estilos según tus preferencias */
  